@import url("./__title/feynman__title.css");
@import url("./__subtitle/feynman__subtitle.css");
@import url("./__img/feynman__img.css");
@import url("./__link/feynman__link.css");

.feynman {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 790px;
    background-color: #f2f2f2;
}