.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.logo {
  height: 32px;
  width: 183px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title_box {
  width: 730px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 64px;
}

.header__title {
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
}

.header__subtitle_box {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  z-index: 2;
}

.header__subtitle {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.header__link {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.header__main-illustration {
  position: absolute;
  height: 608px;
  width: 765px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  right: 0px;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: blue;
}
.description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  height: 100%;
  margin:0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

.text_margin_disabled {
  margin: 0;
}

.digits {
  padding-bottom: 100px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  line-height: 69px;
  margin-bottom: 20px;
  width: 60%;
  margin: 0;
}

.section-subtitle {
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  width: 60%;
  margin: 0;
  margin-top: 20px;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feinman {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 790px;
  background-color: #f2f2f2;
}

.feinman__img {
  height: 637px;
  width: 867px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.feinman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 2;
  text-align: center;
  margin: 0;
}

.feinman__subtitle {
  margin: 0;
  margin-top: 70px;
  z-index: 2;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feinman__link {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: black;
}

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
  padding-top: 90px;
  overflow: hidden;
  position: relative;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.kaufman__triangle {
  position: absolute;
  height: 877px;
  width: 877px;
  top: 0;
  right: -210px;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  padding-bottom: 40px;
  padding-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.footer__columns {
  height: 40vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column_content_copyright {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 0;
  margin-bottom: 18px;
  margin-top: 18px;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: fit-content;
}

.logo_place_footer {
  height: 35px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-links {
  margin: 0;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.footer__column-links:last-of-type {
  margin-bottom: 16px;
}

.footer__column-heading {
  margin: 0;
  margin-bottom: 20px;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.border {
  border: 1px solid red;
}

