.khan__buy-link {
    margin:0;
    text-decoration: none;
    color: #2f80ed;
    margin-left: 48px;
    font-size: 30px;
    line-height: 42px;
    font-weight: normal;
    transition: opacity 1s ease-in-out;
}

.khan__buy-link:hover {
    opacity: .5;
}
